<!--contacts.html-->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
</head>
<body>
    <h1>Контактная информация</h1>
    <p>Телефон: +7 (927) 316-96-08</p>
    <p>Telegram: <a href="https://t.me/79273169608">Нажмите для связи</a></p>
    <p>Адрес: г. Бирск, ул. Интернациональная, д. 26</p>
    <p>Ссылка на ВКонтакте: <a href="https://vk.com/simkabirsk?w=club139253477">VK</a></p>
    <p>WhatsApp: <a href="https://wa.me/79273169608">Нажмите для связи</a></p>
    <p>Почта: mshamidanov@bk.ru</p>
    <p>Все виды качественных печатных услуг, по лучшим ценам!</p>
    <a href="/">Назад</a>
</body>
</html>